In [57]:
import pandas as pd
import joblib
import os

In [58]:
#Load the random forest classifier model
loaded_model = joblib.load('random_forest_model.pkl')

In [59]:
#Load the test data
data=pd.read_csv("A04 FILA 01B_output_stem_trackable_objects.csv")

In [60]:
#Load the config file
config=pd.read_csv('A04 FILA 01B_output_config.csv')

In [61]:
data

,object_id,centroids_x,centroids_y,aspect_ratio,area,frames,scores,counted
0,113,22,1386,0.000000,0.0,129,0.13,False
1,113,84,1405,2.708075,70196.0,140,0.11,False
2,113,85,1406,2.607843,61047.0,141,0.12,False
3,113,71,1428,2.484615,41990.0,142,0.57,False
4,113,55,1467,2.666667,26136.0,143,0.77,False
...,...,...,...,...,...,...,...,...
2990,5131,711,1291,1.673684,740145.0,4532,0.65,False
2991,5131,646,1214,1.833605,689012.0,4533,0.51,False
2992,5131,613,1127,1.952066,714505.0,4534,0.59,False
2993,5131,575,1026,2.179924,607728.0,4535,0.19,False
2994,5147,491,1419,0.000000,0.0,4516,0.28,False

In [62]:
config

,frame_id,stem,product,object_id,area,aspect_ratio,number_of_grapes,ths1,ths2,ths3,...,rg1,rg2,rg3,rg4,ratio_upper_lower,ratio_left_right,mean_grape_area,mean_grape_ratio,percentage_bunch_area,compactness
0,222,1,32,23,3828,1.977,19,0,0,0,...,0,0,0,100,0.90,0.36,77.00,0.86,0.10,0.05
1,222,1,32,56,3872,2.000,17,0,0,0,...,0,0,0,100,0.89,0.70,82.88,0.90,0.09,0.05
2,222,1,32,62,4140,1.957,24,0,0,0,...,0,0,0,100,1.18,1.18,53.75,0.88,0.10,0.04
3,222,1,32,39,4095,2.022,18,0,0,0,...,0,0,0,94,1.57,1.57,110.22,0.94,0.11,0.06
4,222,1,32,7,3915,1.933,22,0,0,0,...,0,0,0,95,1.20,1.75,93.82,0.95,0.14,0.06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1314,4543,57,20,5140,7020,1.662,27,0,0,0,...,0,0,0,81,0.93,0.93,153.63,1.08,0.18,0.05
1315,4543,57,20,5108,8520,1.690,16,0,0,0,...,0,0,6,93,1.00,1.00,192.88,1.06,0.13,0.06
1316,4543,57,20,5135,5985,1.842,19,0,0,0,...,0,0,0,100,0.90,1.71,337.11,1.08,0.15,0.06
1317,4543,57,20,5157,13446,2.049,17,11,0,5,...,0,5,0,76,1.12,0.89,256.71,0.99,0.13,0.06
1318,4543,57,20,5167,15903,1.839,21,0,0,0,...,0,0,0,100,1.62,1.62,345.90,0.99,0.12,0.05

In [63]:
positive_stems=data[data['counted'] == True].reset_index(drop=True)#.set_index('object_id')
positive_stems.drop(columns=['counted'], inplace=True)
positive_stems

,object_id,centroids_x,centroids_y,aspect_ratio,area,frames,scores
0,189,977,991,0.000000,0.0,191,0.65
1,189,966,988,3.690583,183529.0,192,0.69
2,189,945,995,3.710407,181220.0,193,0.47
3,189,928,994,3.745455,181280.0,194,0.52
4,189,935,993,4.814371,134268.0,195,0.33
...,...,...,...,...,...,...,...
2655,5033,409,1291,5.956757,203870.0,4486,0.84
2656,5033,359,1288,5.989189,204980.0,4487,0.63
2657,5033,322,1275,5.830688,208278.0,4488,0.25
2658,5033,288,1272,5.698492,225666.0,4489,0.15
2659,5033,251,1273,5.524510,229908.0,4490,0.15

In [64]:
len(positive_stems.groupby('object_id').count())

56

In [65]:
len(config.groupby('stem').count())

57

In [77]:
config.groupby('stem').size()#.idxmin()

stem
1     32
2     22
3      5
4     22
5      1
6     25
7     32
8     30
9     27
10    30
11    28
12    40
13    21
14    22
15    33
16    18
17    12
18    27
19    32
20    28
21    28
22    30
23    21
24    21
25    23
26    36
27    20
28    21
29    20
30    29
31    24
32    17
33     3
34    15
35    17
36    18
37    21
38    13
39    11
40     2
41     7
42     8
43    27
44    22
45    26
46    23
47    54
48    32
49    22
50    33
51    22
52    31
53    52
54    27
55    25
56    13
57    18
dtype: int64

In [84]:
config['stem']=[config['stem'][i]+1 if config['stem'][i]==config.groupby('stem').size().idxmin() else config['stem'][i] for i in range(len(config))]

In [ ]:
# #Assign all rows with stem corresponding to config.groupby('stem').size().idxmin() to the next stem in the list
# for i in range(len(config)):
#     if config['stem'][i] == config.groupby('stem').size().idxmin():
#         config['stem'][i] = config['stem'][i+1]

1

In [ ]:
# if len(positive_stems.groupby('object_id').count()) < len(config.groupby('stem').count()):

In [67]:
positive_stems.object_id.factorize()

(array([ 0,  0,  0, ..., 55, 55, 55], dtype=int64),
 Index([ 189,  272,  293,  377,  412,  478,  606,  690,  787,  856,  941, 1058,
        1194, 1336, 1440, 1533, 1579, 1701, 1785, 1913, 1982, 2094, 2192, 2302,
        2458, 2561, 2695, 2821, 2883, 2957, 3014, 3076, 3107, 3143, 3179, 3317,
        3365, 3411, 3488, 3496, 3513, 3536, 3591, 3652, 3781, 3878, 4057, 4173,
        4277, 4375, 4477, 4570, 4757, 4879, 4983, 5033],
       dtype='int64'))

In [85]:
positive_stems['index'] = pd.factorize(positive_stems['object_id'])[0] + 1
positive_stems

,object_id,centroids_x,centroids_y,aspect_ratio,area,frames,scores,index
0,189,977,991,0.000000,0.0,191,0.65,1
1,189,966,988,3.690583,183529.0,192,0.69,1
2,189,945,995,3.710407,181220.0,193,0.47,1
3,189,928,994,3.745455,181280.0,194,0.52,1
4,189,935,993,4.814371,134268.0,195,0.33,1
...,...,...,...,...,...,...,...,...
2655,5033,409,1291,5.956757,203870.0,4486,0.84,56
2656,5033,359,1288,5.989189,204980.0,4487,0.63,56
2657,5033,322,1275,5.830688,208278.0,4488,0.25,56
2658,5033,288,1272,5.698492,225666.0,4489,0.15,56
2659,5033,251,1273,5.524510,229908.0,4490,0.15,56